section.cadastro {
    height: 100vh;
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    /* background-repeat: repeat; */
}
section.cadastro form {
    width: 450px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section.cadastro form h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 1.4em;
}
section.cadastro form h2 span {
    color: var(--roxo);
}