.flex {
    display: flex;
    align-items: flex-start;
}
.participantes {
    width: 40%;
    padding: 6px;
    background-color: var(--roxo);
    margin: 13px 0;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(92, 92, 92, 0.71);
        box-shadow: 5px 5px 3px 1px rgba(92, 92, 92, 0.71);
    color: rgb(33, 33, 33);
}
.participantes .imgPartipante {
    width: 100px;
    height: 100px;
    border-radius: calc(100px/2);
    /* background-image: url('../img/vinicius.jpg'); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}
.participantes .infos {
    margin-left: 10px;
}
/* Inserindo imagem */

.participantes .imgPartipante.jhonathas {
    background-image: url('../img/jhonathas.png');
    background-size: 100%;
}

.participantes .imgPartipante.vinicius {
    background-image: url('../img/vinicius.jpg');
    background-size: 100%;
    background-position: 50% 30%;
}

.participantes .imgPartipante.gabriel {
    background-image: url('../img/gabriel.jpg');
    background-size: 100%;
    background-position: 50% 50%;
}

.participantes .imgPartipante.nathalia {
    background-image: url('../img/nathalia.png');
    background-size: 100%;
    background-position: 50% 50%;
}