main.conteudo {
    width: calc(100% - 175px);
    height: 100vh;
    float: left;
    overflow: auto;
    
}

main.conteudo header {
    width: 100%;
    background-color: rgb(226, 226, 226);
    padding: 13px;
    position: relative;
    z-index: 2;
}

main.conteudo header nav {
    float: right;
}

main.conteudo header nav ul {
    list-style: none;
    display: flex;
}

main.conteudo header nav ul li {
    margin: 0 15px;
}

main.conteudo header nav ul li a {
    color: black;
}

section.float {
    float: left;
}