div.inputSingle {
    width: 100%;
    margin-top: 35px;
    position: relative;
}
div.inputSingle:first-of-type {
    margin-top: 0;
}
div.inputSingle:last-of-type {
    margin-bottom: 10px
}

div.inputSingle label {
    font-size: 16px;
    position: absolute;
    left: 5px;
    bottom: 6px;
    color: gray;
    cursor: text;
    transition: 0.5s ease-in-out;
}

div.inputSingle .inputText {
    width: 100%;
    padding: 5px;
    color: gray;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 16px;
}
div.inputSingle .inputText.bgBlack {
    background-color: black;
}
div.inputSingle .inputText.bgWhite {
    background-color: white;
}

div.inputSingle .inputText:focus,
div.inputSingle .inputText:valid {
    border-bottom: 2px solid var(--roxo);
}

div.inputSingle .inputText:focus~label,
div.inputSingle .inputText:valid~label {
    transform: translateY(-27px);
    font-size: 14px;
    color: var(--roxo);
    left: 0;
    font-weight: bold;
}

