section.login {
    display: flex;
    height: 100vh;
}
section.login .foto {
    width: 70%;
    height: 100%;
    /* background-color: red; */
    padding: 15px;
}
section.login .form {
    width: 30%;
    height: 100%;
    background-color: black;
    background-attachment: fixed;
    padding: 15px;
}
section.login .form form {
    width: 100%;
    max-width: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section.login .form form a {
    font-size: 0.8em;
    color: blue;
}

