
section.menu {
    width: 175px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(82, 113, 255);
    padding: 20px 0;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
section.menu::-webkit-scrollbar {
    background-color: rgb(82, 113, 255);
    width: 10PX;
}

section.menu::-webkit-scrollbar-button {
    display: none;
}

section.menu::-webkit-scrollbar-thumb {
    background-color: rgba(2, 0, 36, 1);
    border-radius: 20PX;
}
section.menu nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.menu nav ul li {
    width: 100%;
    
    display: flex;
}

section.menu nav ul li:hover {
    background-color: rgb(10, 0, 201);
}

section.menu nav ul li a {
    color: black;
    padding: 20px 0;
    text-decoration: none;
    width: 100%;
}

section.menu nav ul li:hover a {
    text-decoration: underline;
    color: #ccc;
}